<html>
<head>
  <style>
</style>
</head>
<body>
  <div *ngIf="gitTagsData" class="container">
    <h4>Git tags</h4>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <th>Tag Name</th>
      <th>Tag Commit Id</th>
      <th>Tag Commit url</th>
      </thead>
      <tr *ngFor="let tag of gitTagsData.gittags">
        <td>{{ tag.name }}</td>
        <td>{{ tag.commit.sha}}</td>
        <!--<td><a href="{{ tag.commit.url }}">Tag Commit URL</a></td>-->
        <td><a [routerLink]="['/gitcommits', tag.name]">Commits</a></td>
      </tr>
    </table>
  </div>
  <div *ngIf="!gitTagsData">
    No commits found
  </div>
</body>
</html>
