<html>
<head>
  <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<!--p> List of Git commits </p>
<p> <a href="https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/">Git Repository for Pierian-Data Python</a></p-->
<!--div class="container"-->
  <div *ngIf="gitTagsData">
    <table style="width: 100%">
      <th>Tag Name</th>
      <th>Tag Commit Id</th>
      <th>Tag Commit url</th>
      <tr *ngFor="let tag of gitTagsData.gittags">
        <td>{{ tag.name }}</td>
        <td>{{ tag.commit.sha}}</td>
        <td><a href="{{ tag.commit.url }}">Tag Commit URL</a></td>
      </tr>
    </table>
  </div>
  <div *ngIf="!gitTagsData">
    No commits found
  </div>
<!--/div-->
</body>
</html>
