<html>
<head>
  <style>
</style>
</head>
<body>
<div *ngIf="gitCommitsData" class="container">
  <h4>Git Commits/{{gitCommitsData.branch_name}}</h4>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <th>Commit messages</th>
      <th>Commit Date</th>
      <th>Commit url</th>
      <th>Committer</th>
    </thead>
      <tr *ngFor="let commitObj of gitCommitsData.gitcommits">
        <td>{{ commitObj.commit.message }}</td>
        <td>{{ commitObj.commit.committer.date | date: 'short'}}</td>
        <!--<td><a href="{{ commitObj.url }}">Commit URL</a></td>-->
        <td><a [routerLink] = "['/gitcommitdetails', commitObj.sha]">Commit Details</a></td>
        <td>{{ commitObj.commit.committer.name}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="!gitCommitsData">
    No commits found
  </div>
</body>
</html>
