<html>
<head>
<style>
</style>
</head>
<body>
<div *ngIf="gitBranchesData" class="container">
  <h4>Git Branches</h4>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Branch Name</th>
        <th>Branch Commit Url</th>
      </tr>
    </thead>
    <tr *ngFor="let git of gitBranchesData.gitbranches">
      <td>{{ git.id}}</td>
      <td>{{ git.name }}</td>
      <!--td><a href="{{ git.commit.url }}">Commits URL</a></td-->
      <!--td><a href="{{ git.commit.url }}">Commits URL</a></td-->
      <a [routerLink] = "['/gitcommits', git.commit.sha]">Git Commits</a>
    </tr>
  </table>
</div>

<div *ngIf="!gitBranchesData">
  No Branches found
</div>


</body>
</html>
